@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1#game_name {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
}

h1#game_name2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8em;
}

/* #logo:hover {
    background: linear-gradient(
        90deg,
        rgba(80, 112, 205, 1) 0%,
        rgba(136, 112, 209, 1) 50%,
        rgba(200, 117, 218, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

a.nav-link {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
}

body {
    font-family: "Montserrat", sans-serif;
    /* overflow: hidden; */
}

#game_canvas {
    display: none !important;
}

#back_button {
    display: none;
}

@media (max-width: 768px) {
    h1#game_name {
        font-size: 1.3em;
    }
    /* #main:nth-child(2) {
        padding-left: 70px;
    } */
}

.bg-custom {
    background-color: #16171c;
}

.color-custom {
    color: #9579cd;
}

.btn-gradient {
    background: linear-gradient(
        90deg,
        rgba(80, 112, 205, 1) 0%,
        rgba(136, 112, 209, 1) 50%,
        rgba(200, 117, 218, 1) 100%;
    );
}
